@media (max-width: 1200px) {
    .container {
        padding: 0 25px;
    }
    .button {
        width: 140px;
        height: 40px;
        font-size: 11px;
        &_count {
            width: 230px;
            font-size: 15px;
        }
    }
    .menu {
        &__logo {
            width: 80px;
        }
        &__link {
            font-size: 13px;
        }
        &__call {
            margin: 0 10px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__header {
            font-size: 60px;
            line-height: 70px;
        }
        &__subheader {
            font-size: 32px;
            line-height: 40px;
        }
        &__utp-item {
            width: 285px;
        }
    }
    .benefits {
        &__item {
            max-width: 415px;
        }
    }
}

@media (max-width: 991px) {
    .menu {
        &__logo {
            width: 65px;
        }
        &__link {
            font-size: 12px;
        }
        &__callback {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__call {
            height: 25px;
        }
        &__question {
            display: none;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 130px;
        &_count {
            width: 230px;
            font-size: 15px;
        }
    }
    .promo {
        &__header {
            font-size: 45px;
            line-height: 60px;
        }
        &__subheader {
            font-size: 25px;
            line-height: 30px;
        }
    }
    .benefits {
        &__item {
            width: 530px;
        }
    }
    .work {
        &__wrapper {
            flex-direction: column;
        }
    }
    .prices__wrapper {
        flex-wrap: wrap;
    }
    .feed-form_question {
        padding: 18px 10px 0 10px;
    }
    .footer {
        min-height: 480px;
        &__logo {
            a {
                width: 70px;
                height: 70px;
            }
            &-sign {
                margin-left: 20px;
                font-size: 12px;
            }
        }
    }
    iframe {
        height: 300px;
    }
}

@media (max-width: 767px) {
    nav {
        width: 100vw;
    }
	.menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0, 0, 0, 0.8);
		transition: 0.6s all;
		&_active {
            left: 0;
        }
		&_item {
            padding-right: 0;
			border: none;
        }
		&_link {
            font-size: 20px;
            margin-top: 20px;
        }
    }
    .menu {
        &__logo {
            margin-left: 40px;
        }
        &__list {
            //display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .promo {
        &__glopt {
            font-size: 17px;
        }
        &__header {
            font-size: 32px;
            margin-top: 10px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 25px;
            margin-top: 0;
        }
        &__utp-item {
            width: 223px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .button_submit {
        margin-top: 10px;
    }
    .feed-form {
        min-height: 259px;
        &__wrapper {
            flex-direction: column;
        }
        &__window {
            margin: 0 auto;
            margin-bottom: 8px;
        }
        &_question {
            min-height: 340px;
        }
    }
    .reviews {
        &__card {
            width: 100%;
        }
    }
}