@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'libs/font.min';

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/hamburger';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/infobox';
@import 'blocks/work';
@import 'blocks/divider';
@import 'blocks/agent';
@import 'blocks/round';
@import 'blocks/prices';
@import 'blocks/feed-form';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/question-form';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/modal';

@import 'base/media';