.hamburger {
    position: fixed;
    left: 20px;
    top: 20px;
    display: block;
    width: 26px;
    height: 15px;
    z-index: 5;
    span {
        display: block;
        margin-bottom: 3px;
        height: 2px;
        width: 100%;
        background-color: $main-color;
        transition: 0.5s all;
        }
    &_active {
        span {
            margin-bottom: -2px;
            &:nth-child(1) {
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }
}