header {
    position: relative;
}
.hamburger {
    display: none;
}
.hamburger__wrapper {
    display: none;
}
nav {
    position: absolute;
    padding-top: 23px;
	width: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: block;
        width: 100px;
        img {
            width: 100%;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 23px;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            border: none;
            padding-right: 0;
        }
        &_active {
            z-index: 5;
        }
    }
    &__item {
        border-right: 1px dotted #858891;
        padding: 0 13px 0 13px;
    }
    &__link {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        &:hover {
            color: $main-color;
        }
    }
    &__callback {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__call {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 45px;
        margin: 0 19px;
    }
    &__question {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
    }
    &__phone {
        display: block;
        color: #fff;
        font-size: 19px;
        font-weight: 700;
        line-height: 21px;
        &:hover {
            color: #fff;
        }
    }
}